<div>
  <div>
    <h1>
      List of all parties
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new party
    </h2>

    <form action="/insert_party" method="post">
      <div>
        <label for="date_box">
          Date
        </label>

        <input type="date" id="date_box" name="query_date">
      </div>

      <div>
        <label for="time_box">
          Time
        </label>

        <input type="time" id="time_box" name="query_time">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description" rows="3"></textarea>
      </div>

      <div>
        <input type="hidden" id="party_host" name="party_host" value="#{@current_user.id}">
      </div>

      <div>
        <label for="address">
          Address
        </label>

        <input type="text" id="address" name="address">
      </div>

      <button>
        Create party
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          Date
        </th>

        <th>
          Time
        </th>

        <th>
          Description
        </th>

        <th>
          Host
        </th>
        
        <th>
        Address
      </th>

      <th>
      Attending?
    </th>

        
      </tr>

      <% @list_of_parties.each do |a_party| %>
      <tr>
        <td>
          <%= a_party.date.strftime("%A, %b %d") %>
        </td>

        <td>
          <%= a_party.time.strftime("%l:%m %p") %>
        </td>

        <td>
          <%= a_party.description %>
        </td>

        <td>
        <%= a_party.user.first_name %>
      </td>

      <td>
      <%= a_party.address %>
    </td>

  
    <%attendance = Gathering.all.where(:party_id => a_party.id).where(:user_id => @current_user.id).first %>
    <% if attendance != nil %>
    <td>
        I am attending <a href="/delete_gathering/<%=attendance.id%>">(Leave Party)</a>
    </td>
    <td>
    <div>
        <% if attendance.rsvp == true %>
          I have rsvp'ed 
          <% else %> 
          I still need to rsvp
          <% end %> 
    <% else %> 
    <div>
    <td>
    <form action="/insert_gathering" method="post">
    <div>
      <input type="hidden" id="party_id_box" name="query_party_id" value="<%= a_party.id %>">
  
      <input type="hidden" id="user_id_box" name="query_user_id" value="<%= @current_user.id %>">
      
      <button>
        Attend Party
      </button>
    </div>
  </form>
    </td>
    <% end %>



        <td>
          <a href="/parties/<%= a_party.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
