<div>
  <div>
    <h1>
      Party #<%= @the_party.id %> details
    </h1>
      <dl>
      <dt>
        Date
      </dt>
      <dd>
        <%= @the_party.date %>
      </dd>

      <dt>
        Time
      </dt>
      <dd>
        <%= @the_party.time %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_party.description %>
      </dd>

      <dt>
        Address
      </dt>
      <dd>
        <%= @the_party.address %>
      </dd>

      <dt>
        Host
      </dt>
      <dd>
        <%= @the_party.user.first_name %>
      </dd>
    </dl>

    <h2>
    Guests
   
    </h2>

    <ul>
    <% @the_party.gatherings.each do |guest| %>
        <% if guest.user_id == @current_user.id %>
          I am attending <a href="/delete_gathering/<%=guest.id%>">(Leave Party)</a>
        <%else%>
          <li> <%= guest.user.first_name %> </li>
        <%end%>
    <%end%>
    </ul>

    <h3>
      Attend Party
    </h3>

    <form action="/insert_gathering" method="post">
      <div>
        <input type="hidden" id="party_id_box" name="query_party_id" value="<%= @the_party.id %>">
    
        <input type="hidden" id="user_id_box" name="query_user_id" value="<%= @current_user.id %>">

        <input type="checkbox" id="rsvp_box" name="query_rsvp" value="1">

        <label for="rsvp_box">Rsvp</label>
        
        <button>
          Attend Party
        </button>
      </div>
    </form>

    <h2>
    Food
    </h2>

    <table> 
      <tr> 
        <th>
          Food 
        </th> 
        <th>
          Description
        </th> 
        <th>
          Brought by
        </th>
      <tr> 
      <% @the_party.foods.each do |food| %>
      <tr>
      <td>
        <%= food.name %>
      </td>
      <td>
      <%= food.description %>
      </td>
      <td>
         <%=food.user.first_name %> 
      </td>
      <% if food.user.id == @current_user.id %>
        <td>
        <a href="/delete_food/<%=food.id%>">Delete Food</a>
        </td>
      <% end %>
      </tr>
      <% end %>
    </table>
    <h2>
      Add a new food
    </h2>

    <form action="/insert_food" method="post">
      <div>
        <label for="name_box">
          Food
        </label>

        <input type="text" id="name_box" name="query_name">
     
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description">
     
        <input type="hidden" id="party_id_box" name="query_party_id" value="<%= @the_party.id %>">
  
        <input type="hidden" id="user_id_box" name="query_user_id" value="<%= @current_user.id %>">
     
        <button>
          Bring food
        </button>
      </div>
    </form>


    <h2>
    Drinks
    </h2>
    <table> 
      <tr> 
        <th>
          Drink
        </th> 
        <th>
          Brought by
        </th>
      <tr> 
      <% @the_party.drinks.each do |drink| %>
      <tr>
      <td>
        <%= drink.name %>
      </td>
      <td>
         <%=drink.user.first_name %> 
      </td>
      <% if drink.user.id == @current_user.id %>
      <td>
      <a href="/delete_drink/<%=drink.id%>">Delete Drink</a>
      </td>
      <% end %>
      </tr>
      <% end %>
    </table>
    <h2>
      Add a new drink
    </h2>

    <form action="/insert_drink" method="post">
      <div>
        <label for="name_box">
         Drink
        </label>

        <input type="text" id="name_box" name="query_name">

        <input type="hidden" id="party_id_box" name="query_party_id" value="<%= @the_party.id %>">
  
        <input type="hidden" id="user_id_box" name="query_user_id" value="<%= @current_user.id %>">
      
        <button>
          Bring drink
        </button>
      </div>
    </form>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit party
    </h2>

    <form action="/modify_party/<%= @the_party.id %>"  method="post" >
      <div>
        <label for="date_box">
          Date
        </label>

        <input type="date" id="date_box" name="query_date" value="<%= @the_party.date %>">
      </div>

      <div>
        <label for="time_box">
          Time
        </label>

        <input type="time" id="time_box" name="query_time" value="<%= @the_party.time %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description"><%= @the_party.description %></textarea>
      </div>

      <div>
      <label for="party_host">
        Party host
      </label>

      <input type="hidden" id="party_host" name="party_host" value="<%= @the_party.user_id %>">
    </div>

    <div>
      <label for="address">
        Address
      </label>

      <input type="text" id="address" name="address" value = "<%= @the_party.address %>">
    </div>


      <button>
        Update party
      </button>
    </form>
    <% if @the_party.user_id = @current_user.id %>
    <div>
        <a href="/delete_party/<%= @the_party.id %>">
          Delete party
        </a>
    </div>
    <% end %>
  </div>
</div>

<hr>
